{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Delete PO Item</title>
<meta http-equiv="Content-Type" content="text/html;
charset=iso-8859-1" />
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <!--Begin Header-->
    <div id="header">
        <!-- Begin Title Column -->
        <div id="header-right"><h1>Delete PO Items</h1>
        </div>
    </div>
    <!--Begin Page Menu-->
    <div id="pagemenu">
        <!-- Begin Left Title Column -->
        <div id="pagemenu-right">
            <a href="{% url 'list_vendors' %}" class="active">Supplier Directory</a>
            <a href="{% url 'get_purchaseorders' %}">View Purchase Orders</a>
            <a href="{% url 'get_grns' %}">View GRNs</a>
        </div> 
    </div>
    <!--Begin Content-->
    <div id="content">
        <!-- Begin Content Menu Column -->
        <div id="content-left">
        </div>
        <!-- Begin Content Column, Should be a form -->
        <div>
            <h3>Purchase Order Item Deleted</h3>
            <p>The purchase order item has been successfully deleted.</p>
        </div>
    </div>
    <!-- Begin Footer -->
    <div id="footer">
        <div id="footer-data">
        <br />&#169; Copyright {{ year }}
        Bletchley Technosys. All rights reserved.
        </div>
    </div>
</body>
</html>